MONGO_URI=${{ secrets.MONGODB_URL }}
DB_NAME=${{ secrets.DB_NAME }}
SECRET_KEY=${{ secrets.SECRET_KEY }}
ALGORITHM=${{ secrets.ALGORITHM }}
ACCESS_TOKEN_EXPIRE_MINUTES=${{ secrets.ACCESS_TOKEN_EXPIRE_MINUTES }}
ALLOWED_ORIGINS=http://localhost:3000
JWT_SECRET=${{ secrets.JWT_SECRET }}
JWT_ALGORITHM=${{ secrets.JWT_ALGORITHM }}
JWT_EXPIRE_MINUTES=${{ secrets.JWT_EXPIRE_MINUTES }}
MODEL_PATH=ml/crack_detection_model.onnx
CONFIDENCE_THRESHOLD=0.25
APP_NAME=SmartCrackLens
APP_VERSION=1.0.0
DEBUG=False
